.img-text {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    width: 100%;
}

.wins-losses {
    display: flex;
    justify-content: space-between;
}

p {
    margin-top: 0;
}

.img-celebrity {
    max-width: 100px;
    max-height: 150px;
}
