.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    @media screen and (max-width: 599px) {
        flex-direction: column;
        align-items: center;
    }
}
